/* Стили для страницы входа */

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #dac8b5; /* Цвет фона */
    color: #353b2f; /* Цвет текста */
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    color: #b18961; /* Цвет заголовка */
    margin-top: 20px;
}

form {
    width: 50%;
    margin: 0 auto;
    background-color: #ffffff; /* Цвет фона формы */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень */
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #b18961; /* Цвет рамки */
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #353b2f; /* Цвет кнопки */
    color: #dac8b5; /* Цвет текста на кнопке */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #b18961; /* Измененный цвет кнопки при наведении */
    color: #353b2f; /* Измененный цвет текста на кнопке при наведении */
}
