/* Стили для страницы "Профиль учителя" */

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #dac8b5; /* Цвет фона */
    color: #353b2f; /* Цвет текста */
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #b18961; /* Цвет заголовка */
    margin-top: 20px;
}

form {
    width: 50%;
    margin: 0 auto;
    background-color: #ffffff; /* Цвет фона формы */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень */
}

label {
    font-weight: bold;
}

select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #b18961; /* Цвет рамки */
}

button {
    background-color: #353b2f; /* Цвет кнопки */
    color: #dac8b5; /* Цвет текста на кнопке */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: #b18961; /* Измененный цвет кнопки при наведении */
    color: #353b2f; /* Измененный цвет текста на кнопке при наведении */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #b18961; /* Цвет рамки таблицы */
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #b18961; /* Цвет фона заголовков таблицы */
    color: #dac8b5; /* Цвет текста заголовков таблицы */
}

a {
    display: block;
    text-align: center;
    color: #b18961; /* Цвет ссылки */
    margin-top: 20px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}
